<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Welcome to BunnyPHP</title>
    <style>
        body {
            width: 35em;
            margin: 0 auto;
            text-align: center;
        }
    </style>
</head>
<body>
<a href="https://github.com/IvanLuLyf/BunnyPHP">
    <img src="/static/img/logo.png" width="400px" style="margin-top: 150px">
</a>
<h1>Welcome to <a href="https://github.com/IvanLuLyf/BunnyPHP">BunnyPHP</a>!</h1>
<p>If you see this page, the BunnyPHP is successfully working.</p>
<p><em>Thank you for using BunnyPHP.</em></p>
</body>
</html>