<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^api/(.*)/(.*)$ api.php\?mod=$1&action=$2&%{QUERY_STRING}
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.php
</IfModule>